body{background-color: #fbfdf8; margin: 30px 15% 30px 15%;}
div{margin: 20px 0px 20px 0px; padding: 8px 30px 8px 30px; background-color: #eef5ee; border-radius: 8px; border: solid; border-width:2px; border-color: #dce5dc;}
p, h1, h2, li, button, button:hover{font-family: 'Roboto','sans-serif';}
p, h1, h2, li{color: #002112}
button, button:hover{color:#ffffff}
p, button, button:hover{font-size: 16px;}
h1{font-size: 36px; font-weight: 400;}
h2{font-size: 24px; font-weight: 600;}
a{text-decoration:none;}
a{color: #006c46;}
a:hover{color: #005234}
a:active{color: #008859;}
button, button:hover
{
    padding: 6px 14px 6px 14px;
    border: none;
    border-radius: 32px;
}
button{background-color: #006c46;}
button:hover{background-color: #005234;}
button:active{background-color: #008859;}
.infor{font-size: 14px; color: #7b837c;}