body{background-color: #eaf1ff; margin: 30px 30px 30px 30px;}
p{font-family: 'Noto Sans','HarmonyOS Sans SC','Microsoft YaHei','sans-serif'; font-size: 16px;}
h1{font-family: 'Noto Serif','Times New Roman','华文中宋','serif'; font-size: 36px;}
h2{font-family: 'Noto Sans','HarmonyOS Sans SC','Microsoft YaHei','sans-serif'; font-size: 24px;}
a{text-decoration:none;}
li{font-family: 'Noto Sans','HarmonyOS Sans SC','Microsoft YaHei','sans-serif'; font-size: 16px;}
a{color: #0060aa;}
