body{background-color: #191c1a;}
div{background-color: #1c2621; border-color: #404943;}
button{background-color: #4edf9e;}
button:hover{background-color: #6ffcb8;}
button:active{background-color: #26c284 ;}
p, h1, h2, li{color: #e1e3df}
button, button:active, button:hover{color: #003822}
a{color: #4edf9e;}
a:hover{color: #6ffcb8;}
a:active{color: #26c284 ;}
