:root{--john--brand-color:#00d163;}
:root{--john--hover-color:#00b154;}
:root{--john--active-color:#009b48;}
.text-john{color: var(--john--brand-color);}
.bg-john{background-color: var(--john--brand-color);}
.text-white{color:white;}
.btn-john{background-color: var(--john--brand-color);color:white;}
.btn-john:hover{background-color: var(--john--hover-color);}
.btn-john:active{background-color: var(--john--active-color);}
.logo, .logo:hover, .logo:active{color:var(--john--brand-color)}